# flyctl launch added from .gitignore
### gradle ###
**/.gradle
**/build
!**/gradle/wrapper/gradle-wrapper.jar
!**/**/src/main/**/build
!**/**/src/test/**/build

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/bin
!**/**/src/main/**/bin
!**/**/src/test/**/bin

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out
!**/**/src/main/**/out
!**/**/src/test/**/out

### NetBeans ###
nbproject/private
nbbuild
dist
nbdist
.nb-gradle

### VS Code ###
**/.vscode

### maven ###
**/target
**/*.war
**/*.ear
**/*.zip
**/*.tar
**/*.tar.gz

### logs ####
logs
**/*.log

### temp ignore ###
**/*.cache
**/*.diff
**/*.patch
**/*.tmp
**/*.java~
**/*.properties~
**/*.xml~

### system ignore ###
**/.DS_Store
**/Thumbs.db
**/Servers
**/.metadata
**/upload
**/gen_code

### node ###
**/node_modules
**/dist

# flyctl launch added from ui/practice-view/.gitignore
# Logs
ui/practice-view/**/logs
ui/practice-view/**/*.log
ui/practice-view/**/npm-debug.log*
ui/practice-view/**/yarn-debug.log*
ui/practice-view/**/yarn-error.log*
ui/practice-view/**/pnpm-debug.log*
ui/practice-view/**/lerna-debug.log*

ui/practice-view/**/node_modules
ui/practice-view/**/.DS_Store
ui/practice-view/**/dist
ui/practice-view/**/dist-ssr
ui/practice-view/**/coverage
ui/practice-view/**/*.local

ui/practice-view/cypress/videos
ui/practice-view/cypress/screenshots

# Editor directories and files
ui/practice-view/**/.vscode/*
!ui/practice-view/**/.vscode/extensions.json
ui/practice-view/**/.idea
ui/practice-view/**/*.suo
ui/practice-view/**/*.ntvs*
ui/practice-view/**/*.njsproj
ui/practice-view/**/*.sln
ui/practice-view/**/*.sw?
fly.toml
